.todo-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .8em;
    border-radius: .6em;
    cursor: pointer;
    transition: all 0.2s linear;

    &__left-container {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__right-container {
        opacity: 0;
        transition: all 0.3s linear;
    }

    &__todo-title {
        font-size: 1.2em;
        color: #4e4e4e;

        &.completed {
            text-decoration: line-through;
        }
    }

    &:hover {
        box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
        transition: all 0.2s linear;

        .todo-item__right-container {
            opacity: 1;
        }
    }
}