.button {
    padding: 0.3em 0.5em;
    font-size: 1em;
    background: #9FC088;
    border: solid 2px #8daf75;
    border-radius: .5em;
    cursor: pointer;
    color: #fefefe;
    transition: all 0.15s ease-in-out;

    &:hover {
        background: #9bbb84;
    }
}