.input {
    padding: 0.3em 0.4em;
    font-size: 1.1em;
    border: solid 2px #B09B71;
    border-radius: .5em;
    background: #fefefe;
    color: #483434;
    transition: all 0.14s ease-in-out;
    width: 100%;
    // max-width: 237px;

    &:focus {
        box-shadow: 0px 0px 2px 0px #B09B71;
    }
}