.remove-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;

    svg {
        path {
            transition: all 0.2s linear;
            color: #eb3d3d;
        }
    }

    &:hover {
        svg {
            path {
                transition: all 0.2s linear;
                color: #ff5858;
            }
        }
    }
}