* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
  outline: none;
}

body {
  background-color: #F5E8C7;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}
